$font-main: "Open Sans", sans-serif
$font-serif: "Noto Serif", serif
$color-backround: #e6d6bf
$color-typography: #2d322c

@mixin center($width)
  display: block
  width: $width
  margin: 0 auto
@mixin font($font, $font-size, $font-weight, $font-style)
  font-family: $font
  font-size: $font-size
  font-weight: $font-weight
  font-style: $font-style

@mixin breakpoint($point)
  @if $point == xxxs
    @media screen and (min-width: 300px)
      @content
  @if $point == xxs
    @media screen and (min-width: 480px)
      @content
  @else if $point == xs
    @media screen and (min-width: 640px)
      @content
  @else if $point == s
    @media screen and (min-width: 768px)
      @content
  @else if $point == sm
    @media screen and (min-width: 980px)
      @content
  @else if $point == m
    @media screen and (min-width: 1024px) and (orientation: landscape)
      @content
  @else if $point == l
    @media screen and (min-width: 1280px) and (orientation: landscape)
      @content
  @else if $point == xl
    @media screen and (min-width: 1600px) and (orientation: landscape)
      @content
  @else if $point == xxl
    @media screen and (min-width: 1920px) and (orientation: landscape)
      @content

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic&subset=latin-ext)
@import url(https://fonts.googleapis.com/css?family=Noto+Serif&subset=latin-ext)
@import "compass/reset"

.center
  @include center(85%)

html, body, .site-container
  height: 100%
body
  @include font($font-main, 14px, normal, normal)
  color: $color-typography
  background-color: $color-backround
.site-container
  width: 100%
.spacer
  padding: 50% 0
  @media screen and (min-height: 640px)
    padding: 100% 0
  @include breakpoint(xxs)
    padding: 100% 0
    @media (min-width: 640px) and (min-height: 360px)
      padding: 35% 0
  @include breakpoint(s)
    @media screen and (orientation: portrait)
    padding: 80% 0
  @include breakpoint(l)
    padding: 25% 0
  @include breakpoint(xxl)
    padding: 35% 0
.main
  display: block
  margin: 40px 0 0 0
  @include breakpoint(xxxs)
    margin: 10px 0 0 0
  @include breakpoint(xs)
    margin: 20px 0 0 0
  @include breakpoint(m)
    margin: 30px 0 0 0
  @include breakpoint(l)
    width: 60%
    @media screen and (min-height: 768px)
      height: 100%
      margin: 8% 0 0 0
.main-top
  @include center(100%)
  @include breakpoint(xxs)
    width: 85%
  @include breakpoint(xs)
    width: 80%
  div
    position: absolute
    display: inline-block
    width: 45%
    margin: 0 3% 0 0
    @include breakpoint(xxxs)
      position: initial
    @include breakpoint(xs)
      margin: 0 8% 0 0
    @include breakpoint(sm)
      width: 40%
      margin: 0 10% 0 8%
    button
      position: fixed
      z-index: 100
      top: -25px
      left: 0
      background: none
      border: none
      @include breakpoint(xxxs)
        top: 0
      @include breakpoint(l)
        @media screen and (min-height: 600px)
          display: none
    svg
      display: none
      margin: 0 0 40px 0
      @include breakpoint(xxxs)
        display: block
      @include breakpoint(xxs)
        margin: 0 0 20px 0
      @include breakpoint(s)
        margin: 0 0 65px 0
  h1
    display: inline-block
    text-transform: uppercase
    text-align: right
    @include font($font-main, 32px, bold, normal)
    @include breakpoint(xs)
      font-size: 40px
    @include breakpoint(s)
      font-size: 52px
      line-height: 64px
    @include breakpoint(xl)
      font-size: 64px
      line-height: 72px
    span
      position: absolute
      margin: 15px 0 0 10px
      text-transform: none
      @include font($font-serif, 14px, normal, normal)
      @include breakpoint(xs)
        margin: 22px 0 0 10px
      @include breakpoint(s)
        margin: 12px 0 0 10px
        font-size: 16px
      @include breakpoint(xl)
        margin: 16px 0 0 15px
        font-size: 18px
.main-middle
  margin: 20px 0 0 0
  @include breakpoint(xs)
    margin: 40px 0 0 0
  @include breakpoint(l)
    @media screen and (min-height: 768px)
      margin: 10% 0 0 0
  p
    display: inline-block
    line-height: 18px
    text-align: justify
    @include breakpoint(sm)
      @include center(85%)
      line-height: 24px
    @include breakpoint(xl)
      @include center(75%)
      font-size: 16px
      line-height: 32px
    em
      @include font($font-main, 14px, normal, italic)
      @include breakpoint(xl)
        font-size: 16px
        line-height: 32px
.main-bottom
  @include breakpoint(m)
    position: relative
  svg
    position: absolute
    bottom: 2%
    left: 50%
    margin-left: -30px
    width: 60px
    @media (orientation: landscape)
      bottom: -50px
      margin-left: -25px
      width: 50px
      @media (min-width: 640px) and (min-height: 360px)
        bottom: -200px
      @media (min-width: 768px) and (min-height: 480px)
        bottom: -50px
    @include breakpoint(m)
      bottom: -250px
    @include breakpoint(l)
      bottom: -150px
    @include breakpoint(xxl)
      bottom: -300px
.origami
  a
    position: fixed
    bottom: 25px
    left: 25px
  li
    height: 500px
    opacity: 0
    transition: opacity 0.2s
  .active
    opacity: 1
  div
    position: fixed
    top: 0
    left: 50%
    margin-left: -420px
    @media (min-width: 450px) and (orientation: landscape)
      left: 0
      margin-left: 0
      @include breakpoint(l)
        @media screen and (min-height: 600px)
          left: auto
    @media (min-width: 640px) and (min-height: 360px)
      top: auto
      bottom: 0
    @media (min-width: 768px) and (min-height: 480px)
      top: 0
      bottom: auto
      left: 50%
      margin-left: -420px
    @include breakpoint(m)
      left: 0
      margin-left: 0
    @include breakpoint(l)
      width: 60%
  img
    @include center(auto)
    max-height: 100%
    @media (min-width: 450px) and (orientation: landscape)
      @include center(100%)
      max-height: none
  p
    margin: -90px 0 50px 0
    text-align: center
    @include font($font-main, 16px, normal, normal)
aside
  display: none
  position: absolute
  top: 0
  right: 0
  width: 60%
  @include breakpoint(l)
    position: fixed
    display: block
    width: 40%
    height: 100%
  ul
    padding: 0 0 0.5% 0
    background: #000
    li
      position: relative
      display: inline-block
      width: 90%
      margin: 2.5%
      &:hover ::after
        background: rgba(0, 0, 0, 0.5)
        transition: background 0.2s ease-in-out
      @include breakpoint(xxs)
        width: 47%
        margin: 1% 0 0 1%
      @include breakpoint(l)
        width: 49.5%
        margin: 0
        @media screen and (min-height: 768px)
          height: 25%
          a::after
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            border: 5px solid #000
    @include breakpoint(l)
      height: 100%
  .gallery-img
    width: 100%
    @include breakpoint(l)
      @media screen and (min-height: 768px)
        width: auto
        height: 100%
.ui-widget-overlay
  background: rgba(0, 0, 0, 0.5)
  opacity: 1
.no-title .ui-dialog-titlebar
  display: none
.gallery
  position: absolute
  overflow: visible
  background: #ddd
  border: none
  @include breakpoint(l)
    position: fixed
  div
    display: inline-block
  #modal
    overflow: visible
  button
    position: absolute
    top: -48px
    left: -48px
    width: 50px
    height: 50px
    background: none
    border: none
    cursor: pointer
    &:hover
      opacity: 0.7
      transition: opacity 0.2s ease-in-out
    svg
      position: absolute
      top: 4px
      left: 4px
      circle
        fill: #ddd
      line
        stroke: #333
  div#modalImgHolder
    width: 100%
    @include breakpoint(l)
      width: 69%
    img
      @include center(auto)
      max-width: 100%
      @include breakpoint(l)
        margin: 0
  div#modalTextHolder
    width: 100%
    vertical-align: top
    @include breakpoint(l)
      float: right
      width: 30%
  h2
    padding: 5px 0
    @include font($font-main, 18px, normal, normal)
    @include breakpoint(l)
      padding: 0 0 5px 0
  h3
    @include font($font-main, 18px, normal, italic)
    padding: 0 0 15px 0
  p
    text-align: justify
    line-height: 18px
