@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif&subset=latin-ext);
/* line 5, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 53, ../sass/style.sass */
.center {
  display: block;
  width: 85%;
  margin: 0 auto;
}

/* line 55, ../sass/style.sass */
.hide {
  display: none;
  transition: display 0.2s ease-in-out;
}

/* line 58, ../sass/style.sass */
.number {
  color: #b64f48;
}

/* line 60, ../sass/style.sass */
*:focus, *:active, button, a, *::-moz-focus-inner {
  outline: 0;
  border: 0;
}

/* line 63, ../sass/style.sass */
html, body, .site-container {
  height: 100%;
}

/* line 65, ../sass/style.sass */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #2d322c;
  background-color: #e6d6bf;
}

/* line 69, ../sass/style.sass */
.site-container {
  width: 100%;
}

/* line 71, ../sass/style.sass */
.spacer {
  padding: 50% 0;
}
@media screen and (min-height: 640px) {
  /* line 71, ../sass/style.sass */
  .spacer {
    padding: 100% 0;
  }
}
@media screen and (min-width: 480px) {
  /* line 71, ../sass/style.sass */
  .spacer {
    padding: 100% 0;
  }
}
@media screen and (min-width: 480px) and (min-width: 640px) and (min-height: 360px) {
  /* line 71, ../sass/style.sass */
  .spacer {
    padding: 35% 0;
  }
}

@media screen and (min-width: 768px) {
  /* line 71, ../sass/style.sass */
  .spacer {
    padding: 80% 0;
  }
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
  /* line 71, ../sass/style.sass */
  .spacer {
    padding: 25% 0;
  }
}
@media screen and (min-width: 1600px) and (orientation: landscape) {
  /* line 71, ../sass/style.sass */
  .spacer {
    padding: 35% 0;
  }
}

/* line 86, ../sass/style.sass */
.main {
  display: block;
  margin: 40px 0 0 0;
}
@media screen and (min-width: 300px) {
  /* line 86, ../sass/style.sass */
  .main {
    margin: 10px 0 0 0;
  }
}
@media screen and (min-width: 640px) {
  /* line 86, ../sass/style.sass */
  .main {
    margin: 20px 0 0 0;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  /* line 86, ../sass/style.sass */
  .main {
    margin: 30px 0 0 0;
  }
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
  /* line 86, ../sass/style.sass */
  .main {
    width: 60%;
  }
}
@media screen and (min-width: 1280px) and (orientation: landscape) and (min-height: 768px) {
  /* line 86, ../sass/style.sass */
  .main {
    height: 100%;
    margin: 5% 0 0 0;
  }
}

/* line 100, ../sass/style.sass */
.main-top {
  display: block;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  /* line 100, ../sass/style.sass */
  .main-top {
    width: 85%;
  }
}
@media screen and (min-width: 640px) {
  /* line 100, ../sass/style.sass */
  .main-top {
    width: 80%;
  }
}
/* line 106, ../sass/style.sass */
.main-top div {
  position: absolute;
  display: inline-block;
  width: 45%;
  margin: 0 3% 0 0;
}
@media screen and (min-width: 300px) {
  /* line 106, ../sass/style.sass */
  .main-top div {
    position: initial;
  }
}
@media screen and (min-width: 640px) {
  /* line 106, ../sass/style.sass */
  .main-top div {
    margin: 0 8% 0 0;
  }
}
@media screen and (min-width: 980px) {
  /* line 106, ../sass/style.sass */
  .main-top div {
    width: 40%;
    margin: 0 10% 0 8%;
  }
}
/* line 118, ../sass/style.sass */
.main-top div button {
  position: fixed;
  z-index: 100;
  top: -25px;
  left: 0;
  width: 30px;
  padding: 0;
  background: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
@media screen and (min-width: 300px) {
  /* line 118, ../sass/style.sass */
  .main-top div button {
    top: 0;
  }
}
@media screen and (min-width: 480px) {
  /* line 118, ../sass/style.sass */
  .main-top div button {
    top: 10px;
    left: 10px;
    width: 40px;
  }
}
@media screen and (min-width: 768px) {
  /* line 118, ../sass/style.sass */
  .main-top div button {
    top: 15px;
    left: 15px;
    width: 50px;
  }
}
@media screen and (min-width: 1280px) and (orientation: landscape) and (min-height: 600px) {
  /* line 118, ../sass/style.sass */
  .main-top div button {
    display: none;
  }
}

/* line 140, ../sass/style.sass */
.main-top div button svg {
  width: 100%;
  height: auto;
}
/* line 17, ../sass/style.sass */
.main-top div button:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}
/* line 144, ../sass/style.sass */
.main-top div svg {
  display: none;
  margin: 0 0 40px 0;
}
@media screen and (min-width: 300px) {
  /* line 144, ../sass/style.sass */
  .main-top div svg {
    display: block;
  }
}
@media screen and (min-width: 480px) {
  /* line 144, ../sass/style.sass */
  .main-top div svg {
    margin: 0 0 20px 0;
  }
}
@media screen and (min-width: 768px) {
  /* line 144, ../sass/style.sass */
  .main-top div svg {
    margin: 0 0 65px 0;
  }
}
/* line 153, ../sass/style.sass */
.main-top h1 {
  display: inline-block;
  text-transform: uppercase;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
}
@media screen and (min-width: 640px) {
  /* line 153, ../sass/style.sass */
  .main-top h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  /* line 153, ../sass/style.sass */
  .main-top h1 {
    font-size: 52px;
    line-height: 64px;
  }
}
@media screen and (min-width: 1600px) and (orientation: landscape) {
  /* line 153, ../sass/style.sass */
  .main-top h1 {
    font-size: 64px;
    line-height: 72px;
  }
}
/* line 166, ../sass/style.sass */
.main-top h1 span {
  position: absolute;
  margin: 15px 0 0 10px;
  text-transform: none;
  font-family: "Noto Serif", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}
@media screen and (min-width: 640px) {
  /* line 166, ../sass/style.sass */
  .main-top h1 span {
    margin: 22px 0 0 10px;
  }
}
@media screen and (min-width: 768px) {
  /* line 166, ../sass/style.sass */
  .main-top h1 span {
    margin: 12px 0 0 10px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1600px) and (orientation: landscape) {
  /* line 166, ../sass/style.sass */
  .main-top h1 span {
    margin: 16px 0 0 15px;
    font-size: 18px;
  }
}

/* line 179, ../sass/style.sass */
.main-middle {
  margin: 20px 0 0 0;
}
@media screen and (min-width: 640px) {
  /* line 179, ../sass/style.sass */
  .main-middle {
    margin: 40px 0 0 0;
  }
}
@media screen and (min-width: 1280px) and (orientation: landscape) and (min-height: 768px) {
  /* line 179, ../sass/style.sass */
  .main-middle {
    margin: 10% 0 0 0;
  }
}

/* line 186, ../sass/style.sass */
.main-middle p {
  display: inline-block;
  line-height: 18px;
  text-align: justify;
}
@media screen and (min-width: 980px) {
  /* line 186, ../sass/style.sass */
  .main-middle p {
    display: block;
    width: 85%;
    margin: 0 auto;
    line-height: 24px;
  }
}
@media screen and (min-width: 1600px) and (orientation: landscape) {
  /* line 186, ../sass/style.sass */
  .main-middle p {
    display: block;
    width: 75%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 32px;
  }
}
/* line 197, ../sass/style.sass */
.main-middle p em {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
@media screen and (min-width: 1600px) and (orientation: landscape) {
  /* line 197, ../sass/style.sass */
  .main-middle p em {
    font-size: 16px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  /* line 202, ../sass/style.sass */
  .main-bottom {
    position: relative;
  }
}
/* line 205, ../sass/style.sass */
.main-bottom svg {
  position: absolute;
  bottom: 2%;
  left: 50%;
  margin-left: -30px;
  width: 60px;
}
@media (orientation: landscape) {
  /* line 205, ../sass/style.sass */
  .main-bottom svg {
    bottom: -50px;
    margin-left: -25px;
    width: 50px;
  }
}
@media (orientation: landscape) and (min-width: 640px) and (min-height: 360px) {
  /* line 205, ../sass/style.sass */
  .main-bottom svg {
    bottom: -200px;
  }
}
@media (orientation: landscape) and (min-width: 768px) and (min-height: 480px) {
  /* line 205, ../sass/style.sass */
  .main-bottom svg {
    bottom: -50px;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  /* line 205, ../sass/style.sass */
  .main-bottom svg {
    bottom: -250px;
  }
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
  /* line 205, ../sass/style.sass */
  .main-bottom svg {
    bottom: -150px;
  }
}
@media screen and (min-width: 1600px) and (orientation: landscape) {
  /* line 205, ../sass/style.sass */
  .main-bottom svg {
    bottom: -300px;
  }
}

/* line 226, ../sass/style.sass */
.origami a {
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 30px;
  height: 50px;
  transition: opacity 0.2s ease-in-out;
}
/* line 232, ../sass/style.sass */
.origami a svg {
  width: 100%;
  height: auto;
}
/* line 17, ../sass/style.sass */
.origami a:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
  /* line 226, ../sass/style.sass */
  .origami a {
    width: 40px;
    height: 70px;
  }
}
/* line 239, ../sass/style.sass */
.origami li {
  height: 500px;
  opacity: 0;
  transition: opacity 0.2s;
}
/* line 243, ../sass/style.sass */
.origami .active {
  opacity: 1;
}
/* line 245, ../sass/style.sass */
.origami div {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -420px;
}
@media (min-width: 450px) and (orientation: landscape) {
  /* line 245, ../sass/style.sass */
  .origami div {
    left: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 450px) and (orientation: landscape) and (min-width: 1280px) and (orientation: landscape) and (min-height: 600px) {
  /* line 245, ../sass/style.sass */
  .origami div {
    left: auto;
  }
}

@media (min-width: 640px) and (min-height: 360px) {
  /* line 245, ../sass/style.sass */
  .origami div {
    top: auto;
    bottom: 0;
  }
}
@media (min-width: 768px) and (min-height: 480px) {
  /* line 245, ../sass/style.sass */
  .origami div {
    top: 0;
    bottom: auto;
    left: 50%;
    margin-left: -420px;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  /* line 245, ../sass/style.sass */
  .origami div {
    left: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
  /* line 245, ../sass/style.sass */
  .origami div {
    width: 60%;
  }
}
/* line 269, ../sass/style.sass */
.origami img {
  display: block;
  width: auto;
  margin: 0 auto;
  max-height: 100%;
}
@media (min-width: 450px) and (orientation: landscape) {
  /* line 269, ../sass/style.sass */
  .origami img {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-height: none;
  }
}
/* line 275, ../sass/style.sass */
.origami p {
  margin: -90px 0 50px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

/* line 279, ../sass/style.sass */
aside {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
  /* line 279, ../sass/style.sass */
  aside {
    position: fixed;
    display: block;
    width: 40%;
    height: 100%;
  }
}
/* line 290, ../sass/style.sass */
aside ul {
  padding: 0 0 0.5% 0;
  background: #000;
}
/* line 293, ../sass/style.sass */
aside ul li {
  position: relative;
  display: inline-block;
  width: 90%;
  margin: 2.5%;
}
/* line 298, ../sass/style.sass */
aside ul li:hover ::after {
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.2s ease-in-out;
}
@media screen and (min-width: 480px) {
  /* line 293, ../sass/style.sass */
  aside ul li {
    width: 47%;
    margin: 1% 0 0 1%;
  }
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
  /* line 293, ../sass/style.sass */
  aside ul li {
    width: 49.5%;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) and (orientation: landscape) and (min-height: 768px) {
  /* line 293, ../sass/style.sass */
  aside ul li {
    height: 25%;
  }
  /* line 309, ../sass/style.sass */
  aside ul li a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #000;
  }
}

@media screen and (min-width: 1280px) and (orientation: landscape) {
  /* line 290, ../sass/style.sass */
  aside ul {
    height: 100%;
  }
}
/* line 319, ../sass/style.sass */
aside .gallery-img {
  width: 100%;
}
@media screen and (min-width: 1280px) and (orientation: landscape) and (min-height: 768px) {
  /* line 319, ../sass/style.sass */
  aside .gallery-img {
    width: auto;
    height: 100%;
  }
}

/* line 325, ../sass/style.sass */
.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

/* line 328, ../sass/style.sass */
.no-title .ui-dialog-titlebar {
  display: none;
}

/* line 330, ../sass/style.sass */
.gallery {
  position: absolute;
  overflow: visible;
  background: #ddd;
  border: none;
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
  /* line 330, ../sass/style.sass */
  .gallery {
    position: fixed;
  }
}
/* line 337, ../sass/style.sass */
.gallery div {
  display: inline-block;
}
/* line 339, ../sass/style.sass */
.gallery #modal {
  overflow: visible;
}
/* line 341, ../sass/style.sass */
.gallery button {
  position: absolute;
  top: -48px;
  left: -48px;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
/* line 17, ../sass/style.sass */
.gallery button:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}
/* line 351, ../sass/style.sass */
.gallery button svg {
  position: absolute;
  top: 4px;
  left: 4px;
}
/* line 355, ../sass/style.sass */
.gallery button svg circle {
  fill: #ddd;
}
/* line 357, ../sass/style.sass */
.gallery button svg line {
  stroke: #333;
}
/* line 359, ../sass/style.sass */
.gallery div#modalImgHolder {
  width: 100%;
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
  /* line 359, ../sass/style.sass */
  .gallery div#modalImgHolder {
    width: 69%;
  }
}
/* line 363, ../sass/style.sass */
.gallery div#modalImgHolder img {
  display: block;
  width: auto;
  margin: 0 auto;
  max-width: 100%;
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
  /* line 363, ../sass/style.sass */
  .gallery div#modalImgHolder img {
    margin: 0;
  }
}
/* line 368, ../sass/style.sass */
.gallery div#modalTextHolder {
  width: 100%;
  vertical-align: top;
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
  /* line 368, ../sass/style.sass */
  .gallery div#modalTextHolder {
    float: right;
    width: 30%;
  }
}
/* line 374, ../sass/style.sass */
.gallery h2 {
  padding: 5px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
  /* line 374, ../sass/style.sass */
  .gallery h2 {
    padding: 0 0 5px 0;
  }
}
/* line 379, ../sass/style.sass */
.gallery h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  padding: 0 0 15px 0;
}
/* line 382, ../sass/style.sass */
.gallery p {
  text-align: justify;
  line-height: 18px;
}
