@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif&subset=latin-ext);
/* line 5, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 49, ../sass/style.sass */
.center {
  display: block;
  width: 85%;
  margin: 0 auto;
}

/* line 52, ../sass/style.sass */
html, body, .site-container {
  height: 100%;
}

/* line 54, ../sass/style.sass */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #2d322c;
  background-color: #e6d6bf;
}

/* line 58, ../sass/style.sass */
.site-container {
  width: 100%;
}

/* line 60, ../sass/style.sass */
.main {
  display: block;
  margin: 40px 0 0 0;
}
@media screen and (min-width: 300px) {
  /* line 60, ../sass/style.sass */
  .main {
    margin: 10px 0 0 0;
  }
}
@media screen and (min-width: 640px) {
  /* line 60, ../sass/style.sass */
  .main {
    margin: 20px 0 0 0;
  }
}
@media screen and (min-width: 1024px) {
  /* line 60, ../sass/style.sass */
  .main {
    margin: 40px 0 0 0;
  }
}
@media screen and (min-width: 1280px) {
  /* line 60, ../sass/style.sass */
  .main {
    width: 60%;
  }
}
@media screen and (min-width: 1280px) and (min-height: 768px) {
  /* line 60, ../sass/style.sass */
  .main {
    height: 100%;
    margin: 10% 0 0 0;
  }
}

@media screen and (min-width: 1920px) {
  /* line 60, ../sass/style.sass */
  .main {
    margin: 5% 0 0 0;
  }
}

/* line 76, ../sass/style.sass */
.main-top {
  display: block;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  /* line 76, ../sass/style.sass */
  .main-top {
    width: 85%;
  }
}
@media screen and (min-width: 640px) {
  /* line 76, ../sass/style.sass */
  .main-top {
    width: 80%;
  }
}
/* line 82, ../sass/style.sass */
.main-top div {
  position: absolute;
  display: inline-block;
  width: 45%;
  margin: 0 3% 0 0;
}
@media screen and (min-width: 300px) {
  /* line 82, ../sass/style.sass */
  .main-top div {
    position: initial;
  }
}
@media screen and (min-width: 640px) {
  /* line 82, ../sass/style.sass */
  .main-top div {
    margin: 0 8% 0 0;
  }
}
@media screen and (min-width: 980px) {
  /* line 82, ../sass/style.sass */
  .main-top div {
    width: 40%;
    margin: 0 10% 0 8%;
  }
}
/* line 94, ../sass/style.sass */
.main-top div button {
  position: fixed;
  z-index: 100;
  top: -25px;
  left: 0;
  background: none;
  border: none;
}
@media screen and (min-width: 300px) {
  /* line 94, ../sass/style.sass */
  .main-top div button {
    top: 0;
  }
}
@media screen and (min-width: 1280px) and (min-height: 600px) {
  /* line 94, ../sass/style.sass */
  .main-top div button {
    display: none;
  }
}

/* line 106, ../sass/style.sass */
.main-top div svg {
  display: none;
  margin: 0 0 40px 0;
}
@media screen and (min-width: 300px) {
  /* line 106, ../sass/style.sass */
  .main-top div svg {
    display: block;
  }
}
@media screen and (min-width: 480px) {
  /* line 106, ../sass/style.sass */
  .main-top div svg {
    margin: 0 0 20px 0;
  }
}
@media screen and (min-width: 768px) {
  /* line 106, ../sass/style.sass */
  .main-top div svg {
    margin: 0 0 65px 0;
  }
}
/* line 115, ../sass/style.sass */
.main-top h1 {
  display: inline-block;
  text-transform: uppercase;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
}
@media screen and (min-width: 640px) {
  /* line 115, ../sass/style.sass */
  .main-top h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  /* line 115, ../sass/style.sass */
  .main-top h1 {
    font-size: 52px;
    line-height: 64px;
  }
}
@media screen and (min-width: 1600px) {
  /* line 115, ../sass/style.sass */
  .main-top h1 {
    font-size: 64px;
    line-height: 72px;
  }
}
/* line 128, ../sass/style.sass */
.main-top h1 span {
  position: absolute;
  margin: 15px 0 0 10px;
  text-transform: none;
  font-family: "Noto Serif", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}
@media screen and (min-width: 640px) {
  /* line 128, ../sass/style.sass */
  .main-top h1 span {
    margin: 22px 0 0 10px;
  }
}
@media screen and (min-width: 768px) {
  /* line 128, ../sass/style.sass */
  .main-top h1 span {
    margin: 12px 0 0 10px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1600px) {
  /* line 128, ../sass/style.sass */
  .main-top h1 span {
    margin: 16px 0 0 15px;
    font-size: 18px;
  }
}

/* line 141, ../sass/style.sass */
.main-middle {
  margin: 20px 0 0 0;
}
@media screen and (min-width: 640px) {
  /* line 141, ../sass/style.sass */
  .main-middle {
    margin: 40px 0 0 0;
  }
}
@media screen and (min-width: 1280px) and (min-height: 768px) {
  /* line 141, ../sass/style.sass */
  .main-middle {
    margin: 10% 0 0 0;
  }
}

/* line 148, ../sass/style.sass */
.main-middle p {
  display: inline-block;
  line-height: 18px;
  text-align: justify;
}
@media screen and (min-width: 980px) {
  /* line 148, ../sass/style.sass */
  .main-middle p {
    display: block;
    width: 85%;
    margin: 0 auto;
    line-height: 24px;
  }
}
@media screen and (min-width: 1600px) {
  /* line 148, ../sass/style.sass */
  .main-middle p {
    display: block;
    width: 75%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 32px;
  }
}
/* line 159, ../sass/style.sass */
.main-middle p em {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
@media screen and (min-width: 1600px) {
  /* line 159, ../sass/style.sass */
  .main-middle p em {
    font-size: 16px;
    line-height: 32px;
  }
}

/* line 164, ../sass/style.sass */
.main-bottom {
  margin: 20px 0 0 0;
}
@media screen and (min-width: 640px) {
  /* line 164, ../sass/style.sass */
  .main-bottom {
    margin: 40px 0 0 0;
  }
}
@media screen and (min-width: 1280px) and (min-height: 768px) {
  /* line 164, ../sass/style.sass */
  .main-bottom {
    margin: 10% 0 0 0;
  }
}

/* line 171, ../sass/style.sass */
.main-bottom svg {
  display: block;
  width: 25%;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  /* line 171, ../sass/style.sass */
  .main-bottom svg {
    width: 20%;
  }
}
@media screen and (min-width: 640px) {
  /* line 171, ../sass/style.sass */
  .main-bottom svg {
    width: 15%;
  }
}
@media screen and (min-width: 1024px) {
  /* line 171, ../sass/style.sass */
  .main-bottom svg {
    width: 10%;
  }
}

/* line 180, ../sass/style.sass */
.origami a {
  position: fixed;
  bottom: 25px;
  left: 25px;
}
/* line 184, ../sass/style.sass */
.origami li {
  height: 500px;
  opacity: 0;
  transition: opacity 0.2s;
}
/* line 188, ../sass/style.sass */
.origami .active {
  opacity: 1;
}
/* line 190, ../sass/style.sass */
.origami div {
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -420px;
}
@media (min-width: 450px) and (orientation: landscape) {
  /* line 190, ../sass/style.sass */
  .origami div {
    left: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 450px) and (orientation: landscape) and (min-width: 1280px) and (min-height: 600px) {
  /* line 190, ../sass/style.sass */
  .origami div {
    left: auto;
  }
}

/* line 201, ../sass/style.sass */
.origami img {
  display: block;
  width: auto;
  margin: 0 auto;
  max-height: 100%;
}
@media (min-width: 450px) and (orientation: landscape) {
  /* line 201, ../sass/style.sass */
  .origami img {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-height: auto;
  }
}
/* line 207, ../sass/style.sass */
.origami p {
  margin: -90px 0 50px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

/* line 212, ../sass/style.sass */
aside {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
}
@media screen and (min-width: 1280px) {
  /* line 212, ../sass/style.sass */
  aside {
    position: fixed;
    display: block;
    width: 40%;
    height: 100%;
  }
}
/* line 223, ../sass/style.sass */
aside ul {
  padding: 0 0 0.5% 0;
  background: #000;
}
/* line 226, ../sass/style.sass */
aside ul li {
  position: relative;
  display: inline-block;
  width: 90%;
  margin: 2.5%;
}
/* line 231, ../sass/style.sass */
aside ul li:hover ::after {
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.2s ease-in-out;
}
@media screen and (min-width: 480px) {
  /* line 226, ../sass/style.sass */
  aside ul li {
    width: 47%;
    margin: 1% 0 0 1%;
  }
}
@media screen and (min-width: 1280px) {
  /* line 226, ../sass/style.sass */
  aside ul li {
    width: 49.5%;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) and (min-height: 768px) {
  /* line 226, ../sass/style.sass */
  aside ul li {
    height: 25%;
  }
  /* line 242, ../sass/style.sass */
  aside ul li a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #000;
  }
}

@media screen and (min-width: 1280px) {
  /* line 223, ../sass/style.sass */
  aside ul {
    height: 100%;
  }
}
/* line 252, ../sass/style.sass */
aside .gallery-img {
  width: 100%;
}
@media screen and (min-width: 1280px) and (min-height: 768px) {
  /* line 252, ../sass/style.sass */
  aside .gallery-img {
    width: auto;
    height: 100%;
  }
}

/* line 258, ../sass/style.sass */
.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

/* line 261, ../sass/style.sass */
.no-title .ui-dialog-titlebar {
  display: none;
}

/* line 263, ../sass/style.sass */
.gallery {
  position: absolute;
  overflow: visible;
  background: #ddd;
  border: none;
}
@media screen and (min-width: 1280px) {
  /* line 263, ../sass/style.sass */
  .gallery {
    position: fixed;
  }
}
/* line 270, ../sass/style.sass */
.gallery div {
  display: inline-block;
}
/* line 272, ../sass/style.sass */
.gallery #modal {
  overflow: visible;
}
/* line 274, ../sass/style.sass */
.gallery button {
  position: absolute;
  top: -48px;
  left: -48px;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
}
/* line 283, ../sass/style.sass */
.gallery button:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}
/* line 286, ../sass/style.sass */
.gallery button svg {
  position: absolute;
  top: 4px;
  left: 4px;
}
/* line 290, ../sass/style.sass */
.gallery button svg circle {
  fill: #ddd;
}
/* line 292, ../sass/style.sass */
.gallery button svg line {
  stroke: #333;
}
/* line 294, ../sass/style.sass */
.gallery div#modalImgHolder {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  /* line 294, ../sass/style.sass */
  .gallery div#modalImgHolder {
    width: 69%;
  }
}
/* line 298, ../sass/style.sass */
.gallery div#modalImgHolder img {
  display: block;
  width: auto;
  margin: 0 auto;
  max-width: 100%;
}
@media screen and (min-width: 1280px) {
  /* line 298, ../sass/style.sass */
  .gallery div#modalImgHolder img {
    margin: 0;
  }
}
/* line 303, ../sass/style.sass */
.gallery div#modalTextHolder {
  width: 100%;
  vertical-align: top;
}
@media screen and (min-width: 1280px) {
  /* line 303, ../sass/style.sass */
  .gallery div#modalTextHolder {
    float: right;
    width: 30%;
  }
}
/* line 309, ../sass/style.sass */
.gallery h2 {
  padding: 5px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}
@media screen and (min-width: 1280px) {
  /* line 309, ../sass/style.sass */
  .gallery h2 {
    padding: 0 0 5px 0;
  }
}
/* line 314, ../sass/style.sass */
.gallery h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  padding: 0 0 15px 0;
}
/* line 317, ../sass/style.sass */
.gallery p {
  text-align: justify;
  line-height: 18px;
}
